<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <h1 class="teal-text">Your Profile</h1>
    <p class="gray-text">Update your profile so that it reflects all your current information.</p>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <div class="well aqua-bkgd">
      <h2 class="form-header"><strong>Edit Your Profile</strong></h2><br />
      
      <%= render 'form' %>
      
    </div>
  </div>
</div>