<%= devise_error_messages! %>

<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center"> 
    <% if params[:plan] == '2' %>
      <h1 class="teal-text">Pro Account</h1>
      <p class="gray-text">Sign up for the Pro account for $10/month and get full access to the community with all contact information!</p>
    <% else %>
      <h1 class="teal-text">Basic Account</h1>
      <p class="gray-text">Sign up for free and get basic access to the community.</p>
    <% end %>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <div class="well aqua-bkgd">
      <h2 class="form-header">Sign Up</h2>
      
        <% if params[:plan] == '2' %>
          <%= render "pro_form" %>
        <% else %>
          <%= render "basic_form" %>
        <% end %>
      
      <div class="aqua-well-link"><%= render "devise/shared/links" %></div>
    </div>
  </div>
</div>
