<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="gray-text">
      <h2 class="teal-text">About Us</h2>
      <p>Welcome to Startup.Push. We are a community of developers, entrepreneurs, and investors who are interested in meeting one another, sharing ideas and starting new ventures.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
      <p>Similique, nam distinctio totam aliquid vero nihil quos explicabo rem at vitae. Nostrum, repellat earum quae totam provident tenetur similique possimus! Aliquam.</p>
    </div>
  </div>
</div>