<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p>You have received the below message from Startup.Push's contact form.</p>
    <p>From: <%= "#{ @name }" %></p>
    <p>Email: <%= "#{ @email }" %></p>
    <p>Comments:</p>
    <p><%= @body %></p>
  </body>
</html>