@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.navbar {
  background: #d7d2cc
}

.jumbotron {
  // UI Gradient from http://uigradients.com/
  background: #50C9C3; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #50C9C3 , #96DEDA); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #50C9C3 , #96DEDA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;    
}

.well {
  background: #96DEDA
}

.well-link a {
  color: #40827E;
}

.well-link a:hover {
  color: white;
}

.form-header {
  text-align: center;
  color: white;
}

.white-text {
  color: white;
}

.gray-text {
  color: #777777;
}

.btn-info {
  background: #50C9C3;
  border-color: #50C9C3;
}

.btn-info:hover {
  background: #96DEDA;
  border-color: #96DEDA;
}