// Users Show Page Styles
.profile-show-img {
  border-radius: 20px;
}

.profile-name {
  margin-top: 100px;
  margin-bottom: 5px;
}

.show-job-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

.job-title-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #777777;
  border-radius: 20px;
  background-color: #777777;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 24px;
  // font-size: 23px;
}

.job-title {
  vertical-align: middle;
}

.profile-padding {
  padding-left: 20px;
}

a.show-email {
  color: #40827E;
}

a.show-email:hover {
  color: #777777;
}

a.back-link {
  color: #777777;
}

a.back-link:hover {
  color: #777777;
}

// Users Index Page Styles
.profile-index-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.index-name {
  display: inline-block;
}

.index-badge {
  vertical-align: super;
}

.index-job-title {
  margin-top: 0px;
}